<% include partials/header.ejs %>
        
        <div class="container">
            <div class="jumbotron">
                <h1>See the Donator Leaderboard</h1>
            </div>
        </div>
        
<% include partials/footer.ejs %>